In [2]:
:dep mysql="17.0.0"

In [11]:
use mysql as my;

fn main() {
    // MySQL 연결 설정
    let url = "mysql://root@localhost:3306/sakila";
    let pool = my::Pool::new(url).unwrap();

    // 쿼리 실행
    let mut conn = pool.get_conn().unwrap();
    let result = conn.query("show tables;").unwrap();

    // 결과 출력
    for row in result {
        let name: String = my::from_row(row.unwrap());
        println!("{}", name);
    }
}

In [12]:
main();

actor
actor_info
address
category
city
country
customer
customer_list
film
film_actor
film_category
film_list
film_text
inventory
language
nicer_but_slower_film_list
payment
rental
sales_by_film_category
sales_by_store
staff
staff_list
store

In [25]:
fn main() {
    // MySQL 연결 설정
    let url = "mysql://root@localhost:3306/sakila";
    let pool = my::Pool::new(url).unwrap();

    // 쿼리 실행
    let mut conn = pool.get_conn().unwrap();
    let result = conn.query("select first_name from actor limit 10;").unwrap();

    // 결과 출력
    for row in result {
        let name : String = my::from_row(row.unwrap());
        println!("{:?}", name);
    }
}

In [26]:
main();

"PENELOPE"
"NICK"
"ED"
"JENNIFER"
"JOHNNY"
"BETTE"
"GRACE"
"MATTHEW"
"JOE"
"CHRISTIAN"