#  1. 함수 정의

## 1-1 함수 정의  및 호출 

- 예약어 fn 
- 함수명은 스테이크 표기법에 따라 전체 단어를 소문자로 사용하고 두 문자일 경우는 밑줄로 연결
- 함수명 다음에는 입력이 될 매개변수 정의 : 매개변수는 반드시 자료형을 지정해야 한다.
- 매개변수 다음에는 반환값 지정 
- 함수 본문은 중괄호 내부에 정의

### 매개변수와 반환값이 없는 함수 정의

In [2]:
fn add() {
    println!(" {} ", 100+200);
}

In [3]:
add()

 300

()

### 아무런 반환값이 없다는 것은 빈튜플로 반환하는 것이다.

In [4]:
fn add1() -> () {
    println!(" {} ", 100+200);
}

In [5]:
add1()

 300

()

In [11]:
fn add3(x: i32, y:i32) -> i32 {
    x +y 
}

In [12]:
add3(100,200)

300

## 1-2. 다른 함수에서 함수 호출 하기

### 메인함수에서 다른 함수 실행

In [2]:
fn main() {
    println!("Hello, world!");

    another_function();
}

fn another_function() {
    println!("Another function.");
}

In [3]:
main()

Hello, world!
Another function.

()

## 매개변수

In [4]:
fn main() {
    another_function(5);
}

fn another_function(x: i32) {
    println!("The value of x is: {}", x);
}

In [5]:
main()

The value of x is: 5

()

In [6]:
fn main() {
    another_function(5, 6);
}

fn another_function(x: i32, y: i32) {
    println!("The value of x is: {}", x);
    println!("The value of y is: {}", y);
}

In [7]:
main()

The value of x is: 5
The value of y is: 6

()

In [8]:
another_function(5, 6);

The value of x is: 5
The value of y is: 6

##  1-3 반환 처리 

- return 반환처리

In [18]:
fn value() -> i32 {
    let i = 100;
    return i
}

In [19]:
value()

100

## 표현식으로 반환처리

In [16]:
fn five() -> i32 {
    5
}

fn main() {
    let x = five();

    println!("The value of x is: {}", x);
}

In [17]:
main()

The value of x is: 5

()

## 매개변수와 반환처리

In [20]:
fn main() {
    let x = plus_one(5);

    println!("The value of x is: {}", x);
}

fn plus_one(x: i32) -> i32 {
    x + 1
}

In [21]:
main()

The value of x is: 6

()

## 함수에 함수 매개변수 처리

In [2]:
fn add_one(x: i32) -> i32 {
    x + 1
}

fn do_twice(f: fn(i32) -> i32, arg: i32) -> i32 {
    f(arg) + f(arg)
}

fn main() {
    let answer = do_twice(add_one, 5);

    println!("The answer is: {}", answer);
}

In [3]:
main()

The answer is: 12

()

###  변수에 할당

In [6]:
fn add_two(mut x : i32) -> i32 {
    x = x + 2;
    x
}

fn main() {
    let mut x = 100;
    let answer = add_two(x);

    println!("The answer is: {}", answer);
}

In [7]:
main()

The answer is: 102

()

In [8]:
fn add_three(x : &i32) -> i32 {
    let mut y = *x;
    y+ 3
}

fn main() {
    let x = 200;
    let answer = add_three(&x);

    println!("The answer is: {}", answer);
}

In [9]:
main()

The answer is: 203

()

## 문자열을 변경할 때 처리

In [30]:
fn add_four(mut x :String) -> String {
    x.push_str("four");
    x
}

fn main() {
    let mut x = "three ".to_string();
    let answer = add_four(x);

    println!("The answer is: {}", answer);
}

In [31]:
main()

The answer is: three four

()