## 참조자료 

https://crates.io/crates/sqlite

In [2]:
:dep sqlite = { version = "0.27.0" }

In [3]:
extern crate sqlite;

In [14]:
let connection = sqlite::open(":memory:").unwrap();

connection
    .execute(
        "
        CREATE TABLE users (name TEXT, age INTEGER);
        INSERT INTO users VALUES ('Alice', 42);
        INSERT INTO users VALUES ('Bob', 69);
        ",
    )
    .unwrap();

connection
    .iterate("SELECT * FROM users WHERE age > 40", |pairs| {
        for &(column, value) in pairs.iter() {
            println!("{} = {}", column, value.unwrap());
        }
        true
    })
    .unwrap();

name = Alice
age = 42
name = Bob
age = 69